* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

:root {
  --header-height: 3.5rem;
  --first-color: hsl(23, 100%, 50%);
  --gradient-color: linear-gradient(
    90deg,
    hsl(23, 4%, 28%) 0%,
    hsl(23, 4%, 8%) 100%
  );
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(23, 4%, 60%);
  --body-color: hsl(23, 12%, 4%);
  --container-color: hsl(23, 4%, 10%);
  --biggest-font-size: 10rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section_title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}

#main {
  overflow: hidden;
}

@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.nav_toggle,
.nav_close {
  display: flex;
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .nav_menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(23, 12%, 4%, 0.2);
    width: 100%;
    padding-block: 5.5rem 4.5rem;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  }
}

.nav_list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav_link {
  color: var(--white-color);
  font-weight: var(--font-medium);
}

.nav_close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  top: 0%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.blur-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(23, 12%, 4%, 0.2);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  top: 0;
  left: 0;
  z-index: -1;
}

.active-link {
  color: var(--first-color);
}

.home_container {
  position: relative;
  padding: 7rem 1rem;
  row-gap: 2.5rem;
}

.home_content {
  position: relative;
  display: grid;
  justify-self: center;
}

.home_img {
  width: 220px;
  z-index: 2;
}

.home_title {
  font-size: var(--biggest-font-size);
  display: flex;
  column-gap: 0.25rem;
  color: var(--first-color);
  position: absolute;
  top: -2rem;
  justify-self: center;
}

.home_title span:nth-child(odd) {
  z-index: 3;
}

.home_tooltip {
  position: absolute;
  top: -0.5rem;
  right: 1.5rem;
  z-index: 3;
}

.home_tooltip-img {
  width: 60px;
}

.home_tooltip-text {
  background: var(--gradient-color);
  padding: 0.25rem 0.75rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  border-radius: 4rem;
  font-size: var(--small-font-size);
  position: absolute;
  transform: translate(60px, -40px);
  white-space: nowrap;
}

.home_social {
  display: grid;
  justify-items: center;
  row-gap: 6rem;
  position: absolute;
  top: 9rem;
  left: -1.5rem;
  opacity: 0;
}

.home_social-text {
  position: relative;
  rotate: 90deg;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home_social-text::after {
  content: "";
  width: 48px;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: 0;
  bottom: 0;
  margin-block: auto;
  right: -64px;
}

.home_social-links {
  display: grid;
  row-gap: 0.75rem;
}

.home_social-link {
  font-size: 1.25rem;
  color: var(--text-color);
  transition: color 0.4s;
}

.home_social-link:hover {
  color: var(--first-color);
}

.home_button {
  justify-self: center;
}

.button {
  background: var(--gradient-color);
  padding: 0.75rem 1.5rem;
  border-radius: 4rem;
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  transition: box-shadow 0.4s;
}

.button i {
  font-size: 2rem;
  font-weight: initial;
  color: var(--first-color);
}

.button:hover {
  box-shadow: 0 12px 32px hsla(23, -100%, 50%, 0.12);
}

.about_container {
  row-gap: 3.5rem;
}

.about_data {
  text-align: center;
}

.about_description {
  margin-bottom: 2.5rem;
}

.about_img {
  width: 280px;
  justify-self: center;
}

.favorite_container {
  padding-top: 2rem;
}

.favorite_article {
  width: 220px;
  display: grid;
  justify-items: center;
  filter: blur(8px);
  scale: 0.8;
  transition: filter 0.3, scale 0.3s;
}

.favorite_img {
  width: 220px;
  margin-bottom: 1.5rem;
}

.favorite_model {
  background: var(--gradient-color);
  padding: 0.5rem 1.5rem;
  border-radius: 4rem;
  color: var(--white-color);
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
  filter: blur(0);
  scale: 1;
  transition: scale cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}

.model_container {
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.model_content {
  position: relative;
  justify-self: center;
}

.mode_img {
  width: 280px;
}

.model_tooltip-img {
  width: 60px;
}

.model_tooltip-text {
  background: var(--gradient-color);
  padding: 0.25rem 0.75rem;
  border-radius: 4rem;
  color: var(--white-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  transform: translate(60px, -40px);
  white-space: nowrap;
}

.model_tooltip-1,
.model_tooltip-2 {
  transform: scaleX(-1);
}

.model_tooltip-1 .model_tooltip-text,
.model_tooltip-2 .model_tooltip-text {
  transform: translate(60px, -40px) scaleX(-1);
}

.model_tooltip {
  position: absolute;
}

.model_tooltip-1 {
  top: 9.5rem;
  left: 6.5rem;
}

.model_tooltip-2 {
  top: 3rem;
  right: 2.5rem;
}

.model_tooltip-3 {
  bottom: 3.5rem;
  left: 4rem;
}

.model_tooltip-4 {
  bottom: 5.8rem;
  right: 5rem;
}

.model_button {
  justify-self: center;
}

.sponsor_img {
  width: 100px;
  transition: transform 0.4s;
}

.sponsor_img:hover {
  transform: scale(1.1);
}

.sponsor_container {
  padding-block: 0.5rem 4.5rem;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  gap: 5rem 4rem;
}

.footer {
  padding-block: 2rem;
  overflow: hidden;
}

.footer_container {
  row-gap: 4rem;
}

.footer_logo {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.footer_data {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4rem;
}

.footer_title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer_link {
  display: grid;
  row-gap: 0.75rem;
}

.footer_link {
  color: var(--text-color);
  transition: color 0.4s;
}

.footer_link:hover {
  color: var(--first-color);
}

.footer_group {
  grid-column: 1/3;
}

.footer_form {
  display: grid;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.footer_input,
.footer_button {
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
}

.footer_input {
  width: 100%;
  padding: 1.15rem 1.25rem;
  border-radius: 4rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.footer_input {
  color: var(--text-color);
}

.footer_button {
  cursor: pointer;
}

.footer_social {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.footer_social-link {
  color: var(--white-color);
  font-size: 1.25rem;
  transition: color 0.4s;
}

.footer_social-link:hover {
  color: var(--first-color);
}

.footer_copy {
  display: block;
  margin-top: 5rem;
  font-size: var(--small-font-size);
  text-align: center;
}

.footer_copy a {
  color: var(--first-color);
  border-bottom: 1px solid var(--first-color);
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(23, 4%, 15%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(23, 4%, 30%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(23, 4%, 40%);
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background: var(--gradient-color);
  display: inline-flex;
  color: var(--white-color);
  font-size: 1.25rem;
  padding: 6px;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.5rem);
}

.show-scroll {
  bottom: 3rem;
}

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .home_img {
    width: 180px;
  }
  .home_title {
    font-size: 8rem;
  }

  .model_img {
    width: 220px;
  }
  .model_tooltip-text {
    font-size: var(--smaller-font-size);
    transform: translate(42px, -40px);
  }
  .model_tooltip-1 .model_tooltip-text,
  .model_tooltip-2 .model_tooltip-text {
    transform: translate(40px, -40px) scaleX(-1);
  }
  .model_tooltip-1 {
    top: 3rem;
    left: 4rem;
  }
  .model_tooltip-2 {
    top: 0;
  }
  .model_tooltip-3 {
    bottom: 2rem;
    left: 3rem;
  }
  .model_tooltip-4 {
    right: 4rem;
    bottom: 6rem;
  }

  .sponsor_container {
    gap: 4rem 2rem;
  }

  .footer_button {
    width: 60%;
    margin-left: 25%;
  }
}

@media screen and (min-width: 576px) {
  .about_container {
    grid-template-columns: 380px;
    justify-content: center;
  }

  .footer_data {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3rem;
  }
  .footer_group {
    grid-column: initial;
  }
  .footer_social {
    justify-content: initial;
  }
}

@media screen and (min-width: 768px) {
  .home_img {
    width: 320px;
  }
  .home_title {
    font-size: 16rem;
    top: -4rem;
  }
  .home_social {
    top: 0;
    bottom: 0;
    align-content: center;
  }

  .sponsor_container {
    grid-template-columns: repeat(4, max-content);
  }

  .footer_container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  .footer_data {
    column-gap: 4rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }
  .section_title {
    font-size: var(--h1-font-size);
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav_toggle,
  .nav_close {
    display: none;
  }
  .nav_list {
    flex-direction: row;
    column-gap: 4.5rem;
  }

  .home_container {
    position: relative;
  }
  .home_img {
    width: 500px;
  }
  .home_title {
    font-size: var(--biggest-font-size);
    top: -6.5rem;
    column-gap: 1rem;
  }
  .home_title span:nth-child(1) {
    position: relative;
    left: 0%;
  }
  .home_title span:nth-child(3) {
    position: relative;
    right: 0%;
  }
  .home_tooltip {
    position: absolute;
    right: 6rem;
    opacity: 1;
  }
  .home_tooltip-img {
    width: initial;
  }
  .home_tooltip-text {
    font-size: var(--normal-font-size);
    transform: translate(82px, -52px);
  }
  .home_social-text {
    font-size: var(--normal-font-size);
  }
  .home_social-links {
    row-gap: 1rem;
  }
  .home_social-link {
    font-size: 1.5rem;
  }
  .home_button {
    position: absolute;
    bottom: 4.5rem;
  }

  .about_container {
    grid-template-columns: 400px 500px;
    align-items: center;
    column-gap: 5rem;
  }
  .about_data .section_titl,
  .about_data {
    text-align: initial;
  }
  .about_description {
    margin-bottom: 3.5rem;
  }
  .about_img {
    width: 500px;
  }

  .favorite_container {
    position: relative;
    max-width: 1100px;
    margin-inline: auto;
  }
  .favorite_img {
    width: 500px;
  }

  .model_tooltip {
    position: absolute;
  }
  .model_img {
    width: 500px;
  }
  .model_tooltip-img {
    width: initial;
  }
  .model_tooltip-text {
    font-size: var(--normal-font-size);
    padding: 0.5rem 1.25rem;
    transform: translate(82px, -56px);
  }
  .model_tooltip-1 {
    top: 7.5rem;
    left: 8.5rem;
  }
  .model_tooltip-1 .model_tooltip-text {
    transform: translate(82px, -56px) scaleX(-1);
  }
  .model_tooltip-2 {
    transform: initial;
    top: 6.5rem;
    right: -1.5rem;
  }
  .model_tooltip-2 .model_tooltip-text {
    transform: translate(82px, -56px);
  }
  .model_tooltip-3 {
    transform: scaleX(-1);
    left: 0;
    bottom: 6rem;
  }
  .model_tooltip-3 .model_tooltip-text {
    transform: translate(82px, -56px) scaleX(-1);
  }
  .model_tooltip-4 {
    bottom: 10rem;
    right: 7rem;
  }
  .model_button {
    position: relative;
  }

  .sponsor_container {
    position: relative;
    column-gap: 7.5rem;
    padding-bottom: 6rem;
  }

  .footer {
    padding-bottom: 3rem;
  }
  .footer_container{
    position: relative;
  }
  .footer_data {
    column-gap: 6rem;
  }
  .footer_form {
    grid-template-columns: 1fr max-content;
    background-color: var(--container-color);
    padding: 0.5rem;
    border-radius: 4rem;
    width: 380px;
  }
  .footer_social {
    column-gap: 1.5rem;
  }
  .footer_social-link {
    font-size: 1.5rem;
  }
  .footer_copy {
    margin-top: 7.5rem;
  }

  .scrollup {
    right: 3rem;
  }
}
